APP_NAME=Laravel
APP_COMPANY_NAME=Vektor
APP_COMPANY_EMAIL=hello@vektor.co.uk
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_DIR=app
APP_STATIC_VERSION=1

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

MAP_API_KEY=
MAP_ENDPOINT=

ONECRM_ENABLED=true
ONECRM_ACCOUNT_ID=
ONECRM_PRODUCT_CATEGORY_ID=
ONECRM_SHIPPING_RELATED_ID=
ONECRM_SHIPPING_MFR_PART_NO=
ONECRM_PREFIX=
ONECRM_ID=
ONECRM_SECRET=
ONECRM_USERNAME=
ONECRM_PASSWORD=
ONECRM_ONORDER_CREATE_ACCOUNTS=true
ONECRM_ONORDER_CREATE_CONTACTS=true
ONECRM_ONORDER_CREATE_SALES_ORDERS=true
ONECRM_ONORDER_CREATE_SHIPPING=false
ONECRM_ONORDER_CREATE_INVOICES=false
ONECRM_ONORDER_CREATE_PAYMENTS=false
ONECRM_ONORDER_CREATE_TASKS=false

UTILITIES_ALLOWED_COUNTRIES=GB

APP_TERMS=
APP_POLICY=
APP_EXTERNAL_URL=
APP_EXTERNAL_LABEL=

CHECKOUT_ENABLED=true
CHECKOUT_AS_BASE=false
CHECKOUT_ONLY=false
CHECKOUT_PAGINATION_ENABLED=false
CHECKOUT_PAGINATION_PER_PAGES="3,6,12"
CHECKOUT_HIDE_PRICING=false
CHECKOUT_BILLING_REQUIRED=true
CHECKOUT_SHIPPING_REQUIRED=true
CHECKOUT_CUSTOMER_UNIQUE=false
CHECKOUT_EMAIL_DOMAIN_CHECK_ENABLED=true
CHECKOUT_EMAIL_DOMAIN_CHECK_LIST="vektor.co.uk"
CHECKOUT_AGREE_TERMS=false
CHECKOUT_PAYMENT_ACCOUNT_ENABLED=true
CHECKOUT_PAYMENT_CASH_ENABLED=true
CHECKOUT_PAYMENT_PAYPAL_ENABLED=true
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
CHECKOUT_PAYMENT_STRIPE_ENABLED=true
CHECKOUT_PAYMENT_STRIPE_REQUEST_ENABLED=true
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=