@include bps('.justify-start') { justify-content: flex-start; }
@include bps('.justify-end') { justify-content: flex-end; }
@include bps('.justify-center') { justify-content: center; }
@include bps('.justify-between') { justify-content: space-between; }
@include bps('.justify-around') { justify-content: space-around; }
@include bps('.justify-evenly') { justify-content: space-evenly; }

@include bps('.justify-items-auto') { justify-items: auto; }
@include bps('.justify-items-start') { justify-items: start; }
@include bps('.justify-items-end') { justify-items: end; }
@include bps('.justify-items-center') { justify-items: center; }
@include bps('.justify-items-stretch') { justify-items: stretch; }

@include bps('.justify-self-auto') { justify-self: auto; }
@include bps('.justify-self-start') { justify-self: start; }
@include bps('.justify-self-end') { justify-self: end; }
@include bps('.justify-self-center') { justify-self: center; }
@include bps('.justify-self-stretch') { justify-self: stretch; }

@include bps('.content-center') { align-content: center; }
@include bps('.content-start') { align-content: flex-start; }
@include bps('.content-end') { align-content: flex-end; }
@include bps('.content-between') { align-content: space-between; }
@include bps('.content-around') { align-content: space-around; }
@include bps('.content-evenly') { align-content: space-evenly; }

@include bps('.items-start') { align-items: flex-start; }
@include bps('.items-end') { align-items: flex-end; }
@include bps('.items-center') { align-items: center; }
@include bps('.items-baseline') { align-items: baseline; }
@include bps('.items-stretch') { align-items: stretch; }

@include bps('.self-auto') { align-self: auto; }
@include bps('.self-start') { align-self: flex-start; }
@include bps('.self-end') { align-self: flex-end; }
@include bps('.self-center') { align-self: center; }
@include bps('.self-stretch') { align-self: stretch; }

@include bps('.place-content-center') { place-content: center; }
@include bps('.place-content-start') { place-content: start; }
@include bps('.place-content-end') { place-content: end; }
@include bps('.place-content-between') { place-content: space-between; }
@include bps('.place-content-around') { place-content: space-around; }
@include bps('.place-content-evenly') { place-content: space-evenly; }
@include bps('.place-content-stretch') { place-content: stretch; }

@include bps('.place-items-auto') { place-items: auto; }
@include bps('.place-items-start') { place-items: start; }
@include bps('.place-items-end') { place-items: end; }
@include bps('.place-items-center') { place-items: center; }
@include bps('.place-items-stretch') { place-items: stretch; }

@include bps('.place-self-auto') { place-self: auto; }
@include bps('.place-self-start') { place-self: start; }
@include bps('.place-self-end') { place-self: end; }
@include bps('.place-self-center') { place-self: center; }
@include bps('.place-self-stretch') { place-self: stretch; }